<!-- templates/post.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>王文琮的個人網站</title>
            <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/c
                ss">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
                    rel="stylesheet" type="text/css">
                    <link href="https://wangpinghong.github.io/templates/css/style.css" rel="stylesheet" t
                        ype="text/css">
                        <link href="https://wangpinghong.github.io/templates/css/headercss.css" rel="stylesheet" t
                            ype="text/css">
                            
                            </head>
    <body>
        <div class="wb_container">
            <div class="web_site-header">
                <div class="web_logo">
                    <h1>Wang wen-cong </h1>
                </div>
                <div class="web_menu">
                    <div class="web_navbar">
                        <div class="web_collapse">
                            <ul class="web_nav">
                                <li class="web_active"> <a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'album' %}">Albums</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="container post post-detail">
            <div class="post-heading">
                <h1 class="title">{{ nomads.title }}</h1>
                <div class="date">{{ nomads.tag }}</div>
            </div>
            <img class="photo" src="{{ nomads.photo }}" alt="Cover photo for {{ nomads.title }
                }">
            <hr class="fancy-line">
            <div class="post-content">
                {{ nomads.content }}
            </div>
        </div>
    </body>
</html>