<! - - album.html - ->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>王文琮的個人網站</title>
            <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/c
                ss">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
                    rel="stylesheet" type="text/css">
                    <link href="https://wangpinghong.github.io/templates/css/style.css" rel="stylesheet" t
                        ype="text/css">
                        <link href="https://wangpinghong.github.io/templates/css/headercss.css" rel="stylesheet" t
                            ype="text/css">
                            <script>
                                function showAlbums() {
                                    document.getElementById("c_ul").style.visibility="visible";
                                }
                            function hideAlbums() {
                                document.getElementById("c_ul").style.visibility="hidden";
                            }
                            </script>
                </head>
    <body>
        <div class="wb_container">
            <div class="web_site-header">
                <div class="web_logo">
                    <h1>Wang wen-cong </h1>
                </div>
                <div class="web_menu">
                    <div class="web_navbar">
                        <div class="web_collapse">
                            <ul class="web_nav">
                                <li class="web_active"> <a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li class="web_active"><a href="" onmouseover="showAlbums();" onmouseout="hideAlbums();">Albums</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                            <ul class="web_nav" id="c_ul" onmouseover="showAlbums();" onmouseout="hideAlbums();">
                                <li><a href="{% url 'album2' %}">地方風情</a></li>
                                <li><a href="{% url 'album3' %}">原始森林</a></li>
                                <li class="web_active"><a href="{% url 'album4' %}">速寫小品</a></li>
                                <li><a href="{% url 'album1' %}">遊牧民族</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container">
            {% for small in small_list reversed %}
            <div class="post-wrapper">
                <div class="post">
                    <div class="post-heading">
                        <h2 class="title">
                            <a href="{% url 'small_detail' pk=smallt.pk %}">{{ small.title }}</a>
                        </h2>
                        <div class="date">{{ small.tag }}</div>
                    </div>
                    {% if small.photo %}
                    <div class="thumbnail">
                        <img src="{{ small.photo }}" alt="">
                    </div>
                    {% else %}
                    <div class="thumbnail thumbnail-default"></div>
                    {% endif %}
                    <div class="post-content read-more-block">
                        {{ small.content }}
                    </div>
                    <div class="post-footer">
                        <a class="read-more" href="{% url 'small_detail' pk=small.pk %}">
                            Read More <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>